.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

mat-card {
  width: 400px;
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}
